{% block stylesheets %}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
{% endblock %}

<body>
    <div>
        <h2>Add new {{ type }}:</h2><br />
        {{form(form)}}
    </div>

    {% for flashMessage in app.session.flashBag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}
</body>